body {
  background-color: pink;
}

.header {
  top: 5px;
  width: 100%;
}

.header1 {
  color: darkmagenta;
  font-family: fantasy;
  font-size: 64px;
}

.header2,
h2 {
  color: darkmagenta;
  font-family: fantasy;
  font-size: 40px;
  text-align: center;
}

h3 {
  color: darkmagenta;
  font-family: fantasy;
  font-size: 30px;
  text-align: center;
}

.pinkText,
p,
label {
  color: darkmagenta;
  font-family: fantasy;
  padding: 5px;
  font-size: 20px;
}

table,
th,
td {
  border: 1.5px solid darkmagenta;

  border-collapse: collapse;
  margin: 2px;
  padding: 5px;
  border-radius: 4px;
  background-color: white;
  table-layout: fixed;
}

.centering {
  text-align: center;
}

.divider {
  width: 40px;
  height: auto;
  display: inline-block;
}

.nav1 {
  width: 140px;
  height: 70px;
  outline: none;
  color: pink;
  background: darkmagenta;
  cursor: pointer;
  border-color: darkmagenta;
  border-radius: 4px;
  position: relative;
  z-index: 0;
  font-size: larger;
  font-family: fantasy;
  box-shadow: 1px 10px rgb(85, 0, 85);
  margin-left: 10px;
  margin-right: 10px;
}

.nav1:hover {
  background-color: rgb(139, 44, 139);
}

.nav1:active {
  background-color: rgb(139, 44, 139);
  box-shadow: 0 5px rgb(85, 0, 85);
  transform: translateY(5px);
}

ul {
  color: darkmagenta;
  font-size: 20px;
  font-family: fantasy;
  font-weight: bold;
}

li {
  color: darkmagenta;
  font-size: 16px;
  font-family: fantasy;
  font-weight: normal;
  margin-left: 20px;
}

input[type="text"],
input[type="number"],
datalist {
  color: black;
  background-color: rgb(255, 220, 226);
  font-family: fantasy;
  font-size: 16px;
  border-color: darkmagenta;
  border-radius: 4px;
}

input[type="radio"],
input[type="range"],
input[type="checkbox"] {
  color: darkmagenta;
  background-color: darkmagenta;
  accent-color: darkmagenta;
}
