.circle {
  width: 150px;
  height: 150px;
  text-align: center;
  justify-content: center;
  margin: auto;
  display: block;
  border-radius: 100%;
  background-color: white;
}

.red-box {
  width: 100px;
  height: 60px;
  border-radius: 4px;
  background-color: red;
  display: inline;
}

.orange-box {
  width: 100px;
  height: 60px;
  border-radius: 4px;
  background: orange;
  display: inline;
}

.yellow-box {
  width: 100px;
  height: 60px;
  border-radius: 4px;
  background: yellow;
  display: inline;
}

.green-box {
  width: 100px;
  height: 60px;
  border-radius: 4px;
  background: green;
  display: inline;
}

.blue-box {
  width: 100px;
  height: 60px;
  border-radius: 4px;
  background: blue;
  display: inline;
}

.purple-box {
  width: 100px;
  height: 60px;
  border-radius: 4px;
  background: purple;
  display: inline;
}

.mouse-box {
  width: 500px;
  height: 300px;
  border: solid 2px darkmagenta;
  border-radius: 4px;
  z-index: -1;
}

.mouse-figure {
  width: 30px;
  height: 30px;
  background: radial-gradient(grey, rgb(77, 77, 77));
  border-radius: 50%;
  position: relative;
  margin: 0 auto;
  z-index: 2;
  display: block;
  justify-content: center;
  text-align: center;

  top: -165px;
  left: 0;
}
